# Shopify
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SCOPES=read_products,write_products,read_metaobjects,write_metaobjects,read_discounts,write_discounts
SHOPIFY_APP_URL=https://bundlebox.railway.app

# Database
DATABASE_URL=postgresql://
DIRECT_URL=postgresql://

# Store (for setup scripts)
SHOPIFY_STORE_DOMAIN=saltcore-dev.myshopify.com
SHOPIFY_ACCESS_TOKEN=

# Runtime
NODE_ENV=development
PORT=3000
